@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0px;
    border: none;   
}

body {
    font-family: Verdana, sans-serif;
    font-weight: 300;
    color: #000000;
}

/* headings and logo */

header {
    padding: 10px;
}

h1 {
    font-family: Raleway, arial ;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #51a2d0;
}

#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-family: Raleway, arial ;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
}


/* Cover photo and cover text */

#hero-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 350px;
    width: 100%;
    background: url('../images/testar.jpg') no-repeat center center;
}
#cover-text {
    font-size: 90%;
    font-family: verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    max-width: 300px;
    height: 200px;

    padding-top: 80px;
    padding-left: 10px;
    color: white;

    top: 0px;
    left: 60%;

    position: absolute;

}
/* For larger to medium screens size from 600px wide and down */
@media screen and (max-width: 600px) {
#cover-text {

    left: 0%;
}
}

/* info about destination */

* {
    box-sizing: border-box;
}
.tour {
    font-size: 80%;
    width: 70%;
    float: left;
    text-align: left;
    padding: 10px 70px 10px 70px;
}
/* For larger to medium screens size from 600px wide and down */
@media screen and (max-width: 600px) {
    .tour {
        font-size: 80%;
        width: 100%;
        float: left;
        text-align: left;
        padding: 10px 10px 10px 10px;
    }
}

.tour h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;

}

.tour a {
    color: grey;
}

/* quick info about tour */

.info {
    font-size: 70%;
    width: 30%;
    float: left;
    padding: 30px;
    text-align: center;
    min-width: 200px;
    background-color: whitesmoke; 
    border-spacing: 0%;
    border-style: double;
}
/* For larger to medium screens size from 600px wide and down */
@media screen and (max-width: 600px) {
    .info {
        font-size: 70%;
        width: 100%;
        float: left;
        padding: 30px;
        text-align: center;
        min-width: 200px;
        background-color: whitesmoke; 
        border-spacing: 0%;
        border-style: double;
    }   
}

.info h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;

}

.info p {
    margin-bottom: 10px;
}

#margin-box {
    margin: 10px;
}

/* Photo Gallery */

.image-col {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

/* For small screens size from 600px wide and down */
@media screen and (max-width: 600px) {
    .image-col {
        flex: 100%;
        max-width: 100%;
    }
}

.row {
    display: flex;
    flex-flow: wrap;
    padding: 0 4px;
    clear: both;
}

.image-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Footer and social networks */ 
footer {
    height: 150px;
    clear: both;    
}

.social-networks {
    text-align: center;
    clear: both;
}

.social-networks > li {
    display: inline;

}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 10px;
    color: #3a3a3a;
    margin-top: 50px;
}

/* Form section */


#cover-texter {
    font-size: 90%;
    font-family: verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    margin-bottom: 40px;
    color: black;

}
/* For larger to medium screens size from 600px wide and down */
@media screen and (max-width: 600px) {
    #cover-text {
        left: 0%;
    }
}


.form-section {
    clear: both;
    padding: 50px 100px 100px 100px;
   
}

input[type=text] {
    border-bottom: 2px solid rgba(71, 71, 71, 0.24);
    border-radius: 1px;
    padding: 12px 20px;
    margin-bottom: 50px;
    max-width: 500px;
    width: 100%;
    font-size: 80%;
    
  }

  input[type=email] {
    border-bottom: 2px solid rgba(71, 71, 71, 0.24);
    border-radius: 1px;
    padding: 12px 20px;
    margin-bottom: 50px;
    max-width: 500px;
    width: 100%;
    font-size: 80%;
  }
  
  input[type=radio] {
      margin-top: 10px;
      margin-right: 10px;
      height: 10px;
  }

  input[type=date] {
    margin-bottom: 50px;
    color: black;
}

select {
    margin-bottom: 50px;
}

.aligned { 
    float: left;
    width: 150px;
    font-size: 80%;
}

#size {
    font-size: 80%;
}

  .join-button {
    color: white;
    background-color: #51a2d0;
    margin: 50px 30px 50px 30px;
    padding: 10px;

    border-width:3px;  
    border-style:groove;
    border-radius: 6px;
  }

  .nofloat {
      clear: both;
  }

  .text-input {
      border-radius: 4px;
      direction: ltr;
      font-size: 80% !important;
      font-family: Verdana;
  }

  .tour-input {
      font-size: 80% !important;

  }