@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0px;
    border: none;   
}

body {
    font-family: Verdana, sans-serif;
    font-weight: 300;
    color: #000000;
}

/* headings and logo */

header {
    padding: 10px;
}

h1 {
    font-family: Raleway, arial ;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #51a2d0;
}

#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-family: Raleway, arial ;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
}


/* Cover photo and cover text */

#hero-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 350px;
    width: 100%;
    background: url('../images/testar.jpg') no-repeat center center;
}

#cover-text {
    font-size: 90%;
    font-family: verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 300px;
    height: 200px;

    padding-top: 80px;
    padding-left: 10px;
    color: white;

    top: 0px;
    left: 60%;

    position: absolute;

    margin-top: 30px;
    margin-right: 20px;
    margin: auto;
}

/* info about destination */

* {
    box-sizing: border-box;
}

.tour {
    font-size: 80%;
    width: 70%;
    float: left;
    text-align: left;
    padding: 10px 70px 10px 70px;
}

.tour h2 {
    text-align: center;
    text-transform: uppercase;

}

.tour a {
    color: grey;
}


/* quick info about tour */

.info {
    font-size: 70%;
    width: 30%;
    float: left;
    padding: 30px;
    text-align: center;
    min-width: 200px;
    background-color: whitesmoke; 
    border-spacing: 0%;
    border-style: double;
    
}
.info h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;

}

.info p {
    margin-bottom: 10px;
}

#margin-box {
    margin: 10px;
}

/* Photo Gallery */

.photo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    clear: both;

    overflow: hidden;
    position: relative;
}

.photo > img {
    width: 33%;
    max-width: 100%;
    height: 600px;
    object-fit: cover;
    
}

.image-col {
        display: flex;
        clear: both; 
        gap: 4px 4px; 
        column-count: 3;
        border-style: solid;
        border-color: whitesmoke;
}

/* Footer and social networks */ 
footer {
    height: 150px;
    clear: both;    
}

.social-networks {
    text-align: center;
    clear: both;
}

.social-networks > li {
    display: inline;

}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 10px;
    color: #3a3a3a;
    margin-top: 50px;
}

/* Form section */


#cover-texter {
    font-size: 70%;
    font-family: verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    height: 100px;
    color: black;

    top: 0px;
    left: 60%;

    margin: auto;
}

.form-section {
    clear: both;
    padding: 100px;
    height: 25px;
   
}

input[type=text] {
    border-bottom: 2px solid rgba(71, 71, 71, 0.24);
    border-radius: 1px;
    padding: 12px 20px;
    margin-bottom: 50px;
    max-width: 500px;
    width: 100%;
    
  }

  input[type=email] {
    border-bottom: 2px solid rgba(71, 71, 71, 0.24);
    border-radius: 1px;
    padding: 12px 20px;
    margin-bottom: 50px;
    max-width: 500px;
    width: 100%;
    font-size: 110%;
  }
  
  input[type=radio] {
      margin-top: 10px;
      margin-right: 30px;
  }

  input[type=date] {
    margin-bottom: 50px;
    color: black;
}

select {
    margin-bottom: 50px;
}

.aligned { 
    float: left;
    width: 150px;
}


  .join-button {
    color: #51a2d0;
    background-color: rgba(71, 71, 71, 0.24);
    margin: 10px;
    padding: 5px;

    border-width:3px;  
    border-style:groove;
  }

  .nofloat {
      clear: both;
  }


  