@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;   
}

body {
    font-family: Dosis, sans-serif;
    font-weight: 300;
    color: #000000;
}

/* headings and logo */

h1 {

    font-family: Raleway, arial ;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #51a2d0;
}

h3 {
    color: #f915c1;
    text-transform: uppercase;
    padding: 30px 0;
    float: right;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */ 

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;


}
/* info about destination */

.tour {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    text-align: center;
}

/* quick info about tour */

.info {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    text-align: center;
}

#info {
background: url('..images/textholder.jpg');
}


/* image and cover text */ 

#hero-image {
    height: 800px;
    width: 100%;
    overflow: hidden;
    background: url('../images/stockholmhead.jpg') no-repeat center center;
}

#cover-text {
    margin-top: 30px;
    margin-right: 20px;
    margin: auto;
}

/* Photo Gallery */

#photo {
    clear: both; 
    line-height: 0;
    column-count: 2;   
    column-gap: 0;
}

#photos > img {
    width: 200px;
    height: 100%;
}